h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color:  rgb(15, 15, 83);
}

h2 {
    color: rgb(15, 15, 83);
    margin-top: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    background-image: url(../images/achtergrond.jpg);
    background-size: cover;
    padding-right: 150px;
}

div.totaal{
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(255,255,255, 0.6)
   
}

.align-left {
    float: left;
    margin-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
